/* Min Width 1200px and Max Width 1399px */

@media (min-width: 1200px) and (max-width: 1399px) {
    .ezdan-footer-logo {
      padding-left: 120px!important;
    }
  
    /* Product Page CSS */
  
    .ezdan-about-coffee-container {
      gap: 50px!important;
    }
  }
  
  /* Min Width 992px and Max Width 1199px */
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .ezdan-logo {
      margin-left: 0!important;
    }
  
    .slide-1,
    .slide-2,
    .slide-3 {
      min-height: 800px!important;
    }

    .ezdan-navigation-wrapper {
      position: fixed!important;
      width: 100%!important;
      padding: 15px 10px!important;
      z-index: 999!important;
  }
  
    .ezdan-slider-conent {
      padding-top: 200px!important;
    }
  
    .ezdan-roasted-coffee-wrapper {
      min-height: 900px!important;
    }
  
    .ezdan-coffee-info-wrapper {
      min-height: 600px!important;
    }
  
    /* Product Page CSS */
  
    .ezdan-about-coffee-container {
      grid-template-columns: repeat(4, 1fr)!important;
      gap: 50px!important;
    }
  }
  
  /* Min Width 768px and Max Width 991px */
  
  @media (min-width: 768px) and (max-width: 991px) {
    .ezdan-logo {
      margin-left: 0!important;
    }
  
    .slide-1,
    .slide-2,
    .slide-3 {
      min-height: 700px!important;
    }
  
    .ezdan-slider-conent {
      padding-top: 200px !important;
    }
  
    .ezdan-slider-conent h2,
    .ezdan-coffee-content h2 {
      font-size: 30px!important;
    }
  
    .ezdan-slider-conent p,
    .ezdan-hero-btn a,
    .ezdan-coffee-slide-content h2,
    .ezdan-coffee-content h3,
    .ezdan-coffee-shop-content h3,
    .ezdan-product-content h3 {
      font-size: 20px!important;
      padding-top: 5px!important;
    }
  
    .ezdan-coffee-top h3 {
      font-size: 20px!important;
    
    }
  
    .ezdan-roasted-coffee-wrapper {
      min-height: 800px!important;
    }
  
    .ezdan-coffee-info-wrapper {
      min-height: 600px!important;
    }
  
    .ezdan-shop-btn a {
      font-size: 14px!important;
    }
  
    .ezdan-product-content h2 {
      font-size: 32px!important;
    }
  
    /* Product Details Page CSS */
  
    .ezdan-pdh-content h1 {
      font-size: 30px!important;
    }
  
    .ezdan-pdh-content h2 {
      font-size: 20px!important;
      padding-top: 0!important;
    }
  
    .ezdan-pdc-wrapper {
      padding: 0 0 50px!important;
    }
  
    .ezdan-product-details-content h3 {
      font-size: 20px!important;
      margin-top: -30px!important;
    }
  
    /* Product Page CSS */
  
    .ezdan-about-coffee-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }
  }
  
  /* Min Width 300px and Max Width 767px */
  
  @media (min-width: 300px) and (max-width: 767px) {
    .ezdan-logo {
      margin-left: 0!important;
    }
  
    .slide-1,
    .slide-2,
    .slide-3 {
      min-height: 350px!important;
      background-size: cover!important;
      background-position: center!important;
    }
  
    .ezdan-slider-conent {
      padding-top: 120px!important;
    }
  
    .ezdan-slider-conent h2 {
      font-size: 19px!important;
      text-align: right!important;
    }

    .ezdan-slider-conent p {
      text-align: right!important;
    }

    .ezdan-hero-btn{
      margin-right: -100px!important;
    }
  
    .ezdan-slider-conent h2 br {
      display: none!important;
    }
  
    .ezdan-hero-btn {
      padding-top: 5px!important;
    }
  
    .ezdan-hero-btn a {
      font-size: 13px!important;
      padding: 5px 20px 12px!important;
    }
  
    .ezdan-hero-slider .owl-prev {
      right: 20px!important;
      top: 48%!important;
    }
  
    .ezdan-slider-conent {
      padding-right: 60px!important;
    }
  
    .ezdan-hero-slider .owl-next {
      left: 20px!important;
      top: 48%!important;
    }
  
    .ezdan-coffee-slide::before {
      width: 60%!important;
      height: 15px!important;
    }
  
    .ezdan-coffee-slide-content {
      right: 20px!important;
      bottom: 30px!important;
    }
  
    .ezdan-coffee-slide-content::before {
      top: -20px!important;
      width: 20px!important;
      height: 20px!important;
    }
  
    .ezdan-coffee-wrapper {
      padding-top: 60px!important;
    }
  
    .ezdan-coffee-slider {
      padding-top: 25px!important;
    }
  
    .ezdan-coffee-content h2 {
      font-size: 20px!important;
      margin-bottom: 0px!important;
    }
  
    .ezdan-slider-conent p,
    .ezdan-coffee-slide-content h2,
    .ezdan-coffee-content h3,
    .ezdan-coffee-shop-content h3,
    .ezdan-product-content h3 {
      font-size: 25px!important;
      padding-top: 0!important;
    }

.ezdan-arrow-down-icon img{
      max-width: 50px;
      margin: auto;
      text-align: center;
    }
  
    .ezdan-coffee-top h3 {
      font-size: 11px!important;
      margin-bottom: -80px!important;
    }
  
    .ezdan-roasted-coffee-wrapper {
      min-height: 264px!important;
      margin-top: 45px!important;
    }
  
    .ezdan-coffee-content {
      width: 100%!important;
      padding-top: 80px!important;
      text-align: center!important;
    }
  
    .ezdan-coffee-content h3 {
      color: #ffffff !important;
      opacity: 1!important;
    }
  
    .ezdan-coffee-shop-wrapper {
      padding: 45px 0 70px!important;
    }
  
    .ezdan-shop-btn a {
      font-size: 8px!important;
    }
  
    .ezdan-coffee-shop-arrow,
    .ezdan-soudi-coffee-arrow {
      display: none!important;
    }
  
    .ezdan-coffee-info-wrapper {
      min-height: 320px!important;
      background-size: cover!important;
      background-position: center!important;
    }
  
    .ezdan-cis::after {
      bottom: -5px!important;
      width: 144px!important;
      height: 10px!important;
    }
  
    .ezdan-shop-btn a {
      font-size: 14px!important;
      padding: 3px 23px 10px!important;
    }
  
    .ezdan-product-wrapper {
      padding: 40px 28px!important;
    }
  
    .ezdan-product-content {
      text-align: center!important;
      padding-bottom: 40px!important;
    }
  
    .ezdan-product-content h2 {
      font-size: 23px!important;
    }
  
    .ezdan-product-card {
      padding-bottom: 48px!important;
    }
  
    .ezdan-product-card-content h3,
    .ezdan-product-card-content h4 {
      font-size: 20px!important;
    }
  
    .ezdan-product-card-content p,
    .ezdan-add-to-card-btn a {
      font-size: 15px!important;
      padding: 10px 0 18px!important;
    }
  
    .ezdan-heart-btn a img {
      width: 30px!important;
      padding: 12px 0!important;
    }
  
    .ezdan-contact-wrapper {
      padding-bottom: 0!important;
    }
  
    .ezdan-footer-social {
      padding-top: 60px!important;
    }
  
    .ezdan-footer-logo {
      padding: 60px 0!important;
    }
  
    /* Product Details Page CSS */
  
    .ezdan-product-details-hero-wrapper {
      background: url(../images/product-details-hero-bg-mobile.png)!important;
      background-repeat: no-repeat!important;
      min-height: 267px !important;
      height: 100%!important;
      margin-top: 0!important;
    }
  
    .ezdan-pdh-content {
      padding-top: 115px!important;
    }
  
    .ezdan-pdh-content h1 {
      font-size: 15px!important;
    }
  
    .ezdan-pdh-content h2 {
      font-size: 12px!important;
      padding-top: 0!important;
    }
  
    .ezdan-pdc-wrapper {
      padding: 0 0 50px!important;
    }
  
    .ezdan-product-details-content h3 {
      font-size: 11px!important;
      line-height: 15px!important;
      margin-top: -30px!important;
    }
  
    /* Product Page CSS */
  
    .ezdan-product-hero-slide {
      background-size: contain!important;
      background-position: center!important;
      min-height: 400px!important;
    }
  
    .ezdan-product-hero-slider .owl-prev,
    .ezdan-product-hero-slider .owl-next {
      top: 50%!important;
      transform: translateY(-50%)!important;
    }
  
    .ezdan-product-hero-slider .owl-prev {
      right: 20px!important;
    }
  
    .ezdan-product-hero-slider .owl-next {
      left: 20px!important;
    }
  
    .ezdan-product-hero-content {
      padding-top: 40px!important;
    }
  
    .ezdan-product-hero-content h2 {
      font-size: 20px!important;
      font-weight: 500!important;
      margin-bottom: 10px!important;
    }
  
    .ezdan-product-hero-content h3 {
      font-size: 15px!important;
      font-weight: 500!important;
      margin-bottom: 30px!important;
    }
  
    .ezdan-product-hero-content h4 {
      font-size: 20px!important;
    }
  
    .ezdan-product-hero-content p {
      font-size: 15px!important;
    }
  
    .ezdan-price-tax-box {
      padding-top: 0px!important;
    }
  
    .ezdan-quantity-btn {
      margin-top: 8px!important;
      padding: 3px 5px!important;
    }
  
    .ezdan-buy-btn,
    .ezdan-atoc-btn,
    .ezdan-quantity-btn {
      padding-right: 10px!important;
    }
  
    .ezdan-buy-btn a,
    .ezdan-atoc-btn a,
    .ezdan-quantity-btn p,
    .ezdan-quantity-btn a {
      font-size: 11px!important;
      padding: 6px 20px 10px!important;
    }
  
    .ezdan-quantity-btn a {
      padding: 0 12px !important;
      margin-top: 0!important;
    }
  
    .ezdan-product-desc-wrapper,
    .ezdan-prepare-wrapper,
    .ezdan-about-coffee-wrapper,
    .ezdan-crop-story-wrapper {
      padding: 40px 0!important;
    }
  
    .ezdan-about-coffee-container {
      grid-template-columns: repeat(1, 1fr)!important;
      gap: 50px!important;
      padding: 0 78px!important;
    }
  
    .ezdan-about-coffee-title {
      display: none!important;
    }
  
    .ezdan-product-desc-content h2,
    .ezdan-prepare-content h2,
    .ezdan-crop-story-content h2 {
      font-size: 20px!important;
      margin-bottom: 20px!important;
    }
  
    .ezdan-product-desc-content h4,
    .ezdan-prepare-content h4,
    .ezdan-crop-story-content h3 {
      font-size: 11px!important;
      line-height: 14px!important;
    }
  
    .ezdan-about-coffee-card-content h4,
    .ezdan-about-coffee-card-content p {
      font-size: 15px!important;
    }
  
  
    .ezdan-about-coffee-wrapper,
    .ezdan-crop-story-wrapper {
      padding: 40px 0!important;
    }
  
    .ezdan-about-coffee-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 50px!important;
      padding: 0 78px!important;
    }
  
    .ezdan-about-coffee-title {
      display: none!important;
    }
  
    .ezdan-product-desc-content h2,
    .ezdan-prepare-content h2,
    .ezdan-crop-story-content h2 {
      font-size: 20px!important;
      margin-bottom: 20px!important;
    }
  
    .ezdan-product-desc-content h4,
    .ezdan-prepare-content h4,
    .ezdan-crop-story-content h3 {
      font-size: 11px!important;
      line-height: 14px!important;
    }
  
    .ezdan-about-coffee-card-content h4,
    .ezdan-about-coffee-card-content p {
      font-size: 15px!important;
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    .ezdan-about-coffee-wrapper2,
    .ezdan-crop-story-wrapper2 {
      padding: 40px 0!important;
    }
  
    .ezdan-about-coffee-container2 {
      grid-template-columns: repeat(1, 1fr);
      gap: 50px!important;
      padding: 0 78px!important;
    }
  
    .ezdan-about-coffee-title2 {
      display: none!important;
    }
  
    .ezdan-product-desc-content2 h2,
    .ezdan-prepare-content h2,
    .ezdan-crop-story-content h2 {
      font-size: 20px!important;
      margin-bottom: 20px!important;
    }
  
    .ezdan-product-desc-content2 h4,
    .ezdan-prepare-content h4,
    .ezdan-crop-story-content h3 {
      font-size: 11px!important;
      line-height: 14px!important;
    }
  
    .ezdan-about-coffee-card-content2 h4,
    .ezdan-about-coffee-card-content p {
      font-size: 15px!important;
    }
  }
  
 