
<nav id="mobile-menu" class="mobile-menu">
    <ul class="main-menu">
        {% for menu_id, menu in menus %}
            {% include 'components.header._menu-item' with {is_root_menu:true} %}
        {% endfor %}
    </ul>
    <button class="btn--close close-mobile-menu sicon-cancel lg:hidden"></button>
</nav>
<button class="btn--close-sm close-mobile-menu sicon-cancel hidden"></button>