





<footer id="Footer">
  <div class="ezdan-footer-wrapper">
    <div class="container">
      <div
        class="ezdan-footer-contatiner d-md-flex justify-content-between align-items-end"
      >
        <div class="footer-menu">
          
          <ul class="ezdan-footer-nav">
            <li><a href="#">  {% component 'footer.menu' %}  </a></li>
            <li>
             
          </ul>
          <div class="ezdan-footer-social">
            <ul class="d-flex align-items-center">
              <li>
                <a href="#"
                  ><img
                    src="https://141-27-27.preezdan.com/assets/images/instagram-icon.svg"
                    alt="instagram-icon"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="https://141-27-27.preezdan.com/assets/images/twitter-icon.svg"
                    alt="twitter-icon"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="https://141-27-27.preezdan.com/assets/images/youtube-icon.svg"
                    alt="youtube-icon"
                /></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ezdan-footer-logo">
          <a href="{{store.url}}"
            ><img src="https://141-27-27.preezdan.com/assets/images/logo-coffee.svg" alt="logo-coffee"
          /></a>
        </div>
        <div class="ezdan-footer-contact">
          <h5>تواصل معنا</h5>
          <div
            class="ezdan-footer-contact-info d-flex align-items-center mt-4"
          >
            <div class="ezdan-fci-icon">
              <a href="#"
                ><img
                  src="https://141-27-27.preezdan.com/assets/images/whatsapp-icon.svg"
                  alt="whatsapp-icon"
              /></a>
            </div>
            <div class="ezdan-fci-social">
              <h6>واتساب</h6>
              <a href="tel:+966550091180">966550091180+</a>
            </div>
          </div>
          <div class="ezdan-footer-contact-info d-flex align-items-center">
            <div class="ezdan-fci-icon">
              <a href="#"
                ><img
                  src="https://141-27-27.preezdan.com/assets/images/phone-alt-icon.svg"
                  alt="phone-alt-icon"
              /></a>
            </div>
            <div class="ezdan-fci-social">
              <h6>جوال</h6>
              <a href="tel:+966550091180">966550091180+</a>
            </div>
          </div>
          <div class="ezdan-footer-contact-info d-flex align-items-center">
            <div class="ezdan-fci-icon">
              <a href="#"
                ><img src="https://141-27-27.preezdan.com/assets/images/email-icon.svg" alt="email-icon"
              /></a>
            </div>
            <div class="ezdan-fci-social">
              <h6>ايميل</h6>
              <a href="mailto:info@arriyadhroaster.com"
                >info@arriyadhroaster.com</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:flex items-center justify-between py-4 container text-center">
    <span class="text-sm copyright-text">{% hook copyright %}</span>
    {% component 'footer.payment-methods' %}
  </div>
</footer>
