


<section id="Coffee-info">
    {% for Bannergreencollectione in component.BannerGreenCollection %}
    <div class="ezdan-coffee-info-wrapper green-arrived position-relative"  style="background-image:url('{{Bannergreencollectione.bannergreenimage}}') ">
    
      <div class="container">
        <div class="ezdan-coffee-content">
          <h2>{{BannerOrangecollectione.BannerGreenString}}</h2>
          
          <h3> {{BannerOrangecollectione.bannergreenstring2}}</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="ezdan-cis green"></div>
    </div> {% endfor %}
  </section>
