


<section id="Coffee-info">
    {% for Bannergreencollectionee in component.bannergreencollection %}
    <div class="ezdan-coffee-info-wrapper green-arrived position-relative"  style="background-image:url('{{Bannergreencollectionee.bannergreenimage}}') ">
    
      <div class="container">
        <div class="ezdan-coffee-content">
          <h2>{{Bannergreencollectionee.BannerGreenString}}</h2>
          
          <h3> {{Bannergreencollectionee.bannergreenstring2}}</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="ezdan-cis green"></div>
    </div> {% endfor %}
  </section>
