

  
  <section id="Coffee">
    <div class="ezdan-coffee-wrapper">
      <div class="container">
        <div class="ezdan-coffee-top">
        
        </div>
      </div>
      <div class="ezdan-coffee-slider owl-carousel owl-theme">
        <div class="ezdan-coffee-slide blue item position-relative">
          {% for catagory in component.catslidercollection %}

          <div class="ezdan-coffee-slide-img">
            <img
              src="{{ catagory.CatSliderimage }}"
              alt="coffee-slide-img1"
            />
            <div class="ezdan-coffee-slide-content blue">
              <h2>الدورات التدريبية</h2>
            </div>
          </div>
          {% endfor %}
        </div>   </section>