












<section id="Coffee">
    <salla-slider 
    <div class="ezdan-coffee-wrapper">
      <div class="container">
        <div slot="items">
        {% for catagors in component.CoffeeSectioncollection %}
        <div class="ezdan-coffee-top">
          <h3>
            {{catagors.CoffeeSectionTilitel}}
            <div data-background="{{ catagors.image_2 }}" class="swiper-lazy"></div> 
          </h3>
          <a data-emergence="hidden">
          <img src="{{catagors.image_2}}" />
                             
        </a>
              
         
          </div>
          {% endfor %}
        </div>
        </div>

      

  




        {% for catagorss in component.CoffeeSection %}
        <p>
        {{catagorss.CoffeeSectionstring}}
        </p>
        
        {% endfor %}
        

        
</salla-slider>
</section> 
