



<h1>test</h1>


{% for catagors in component.CoffeeSectioncollection %}
<p>
{{catagors.CoffeeSectioncollection}}
</p>

{% endfor %}



{% for catagorss in component.CoffeeSection %}
<p>
{{catagorss.CoffeeSectionstring}}
</p>

{% endfor %}