












<section id="Coffee">
    <div class="ezdan-coffee-wrapper">
      <div class="container">
        <div slot="items">
        {% for catagors in component.CoffeeSectioncollection %}
        <div class="ezdan-coffee-top">
          <h3>
            {{catagors.CoffeeSectionTilitel}}
      
          </h3>
          <img src="{{catagors.CoffeeSectionstringimage1}}" />
                             
          
              
         
          </div>
          {% endfor %}
        </div>
        </div>

      

  




        {% for catagorss in component.CoffeeSection %}
        <p>
        {{catagorss.CoffeeSectionstring}}
        </p>
        
        {% endfor %}
        

