







{% for catagors in component.CoffeeSectioncollection %}
<p>
            {{catagors.CoffeeSectionTilitel}}
</p>

<img src="  {{catagors.CoffeeSectionstringimage_1}}" > </img>
  



{% endfor %}



{% for catagorss in component.CoffeeSection %}
<p>
{{catagorss.CoffeeSectionstring}}
</p>

{% endfor %}


