




<section id="Roasted-coffee">
    {% for fullbannar in component.fullbannarcollection %}

   
    <div    class="ezdan-roasted-coffee-wrapper"  style="background-image:url('{{fullbannar.fullbannarimage}}') "  >
      <div class="container">
        <div  class="ezdan-coffee-content">
            <h2> {{fullbannar.fullbannarTitle}} </h2>
          <h3> {{fullbannar.fullbannardescription}} </h3>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

