



{% for fullbannar in component.fullbannarcollection %}

<section id="Roasted-coffee">
 
    <div data-background="{{ fullbannar.fullbannarimage }}" class="ezdan-roasted-coffee-wrapper">
      <div class="container">
        <div class="ezdan-coffee-content">
            <h2> {{fullbannar.fullbannarTitle}} </h2>
          <h3> {{fullbannar.fullbannardescription}} </h3>
        </div>
      </div>
    </div>
  </section>

  {% endfor %}