

<div>


    {% for compo in  component.sectionitemcollection %}
        
   
    {% if page.title == compo.SectionItemslug  %}
    <h1>Hi</h1>
     
    {% else %}
     





    {% endif %}

    {% endfor %}

</div>


salla.api.request('component/list', {params:{paths:['home.main-links']}}).then((res) => {}