
{% for Banner in component.squarebannercollection %}

<section id="Contact">
    <div class="ezdan-contact-wrapper"  style="background-image:url('{{Banner.SquareBannerimage}}')">
      <div class="container">
        <div class="ezdan-contact-img">
          <img src="assets/images/contact-img.png" alt="contact-img" />
        </div>

        {% endfor %}
