

{% for sections in component.textsectioncollection %}

{% if page.title = 'sections.TextSectionSlug' %}

<h1>
{{sections.TextSectionstring}}
</h1>

{% else %}
    <h1>Not work</h1>
{% endif %}





{% endfor %}