




<section id="Coffee">
    <div class="ezdan-coffee-wrapper">
      <div class="container">
       
        <div class="ezdan-coffee-top">
            {% for orangtext in component.textwithorangiconcollection %}
          <h3>
                  {{orangtext.TextwithOrangIconstring}}
        </h3>
      
        <div class="ezdan-arrow-down-icon mt-4">
            <img 
              draggable="false"
              src="{{orangtext.TextwithOrangIconimage}}"
              alt="arrow-down-icon"
            />
          </div>
          {% endfor %}
      </div>
      
    
      </div>
      

    </section> 
